.button {
    height: 2.5rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    padding: 0.25rem 1rem;
    transition: background-color 0.3s ease 0s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
}

.button_primary {
    background-color: var(--primary-bg-color);
    border: 2px solid var(--border-color);
}

.button_primary:hover {
    background-color: var(--primary-hover-bg-color);
}

.button_danger {
    background-color: var(--danger-bg-color);
    border: 2px solid var(--border-color);
}

.button_danger:hover {
    background-color: var(--danger-hover-bg-color);
}

.button_secondary {
    background-color: var(--secondary-bg-color);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.button_secondary:hover {
    box-shadow: 1px 1px 6px 2px var(--secondary-hover-color);
}