html[data-theme="light"] {
    --bg-color: #fff;
    --text-color: #333;
    --border-color: #ccc;
    --primary-bg-color: #ffa600;
    --primary-hover-bg-color: #d96200;
    --secondary-bg-color: transparent;
    --secondary-hover-color: #c0bfbf;
    --secondary-color: #865700;
    --danger-bg-color: #cf0014;
    --danger-hover-bg-color: #80000b;
    --danger-color: #ff0011;
    --done-color: #029121;
    --progress-color: #b08300;
    --card-bg-color: #e8d5d1;
}

html[data-theme="dark"] {
    --bg-color: #333;
    --text-color: #fff;
    --border-color: #ccc;
    --primary-bg-color: #ff8000;
    --primary-hover-bg-color: #d96200;
    --secondary-bg-color: transparent;
    --secondary-hover-color: #666;
    --secondary-color: #bd9e74;
    --danger-bg-color: #c60013;
    --danger-hover-bg-color: #87000d;
    --danger-color: #fa3846;
    --done-color: #20fa4c;
    --progress-color: #ffc62a;
    --card-bg-color: #4e4543;
}

* {
    box-sizing: border-box;
    font-family: "Comfortaa", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    position: relative;
}

.input {
    outline: none;
    border: 2px solid #ccc;
    border-radius: 0.2rem;
    padding: 0.3rem;
    font-size: 1rem;
    font-family: inherit;
}

.input:focus {
    border-color: #333;
}

.input_error input {
    border: 2px solid red;
}

.input_error::after {
    content: "Please enter a valid value";
    color: var(--danger-color);
    font-size: 0.8rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

.button {
    height: 2.5rem;
    color: #fff;
    font-size: 1rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    padding: 0.25rem 1rem;
    transition: background-color 0.3s ease 0s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    white-space: nowrap;
}

.button_primary {
    background-color: var(--primary-bg-color);
    border: 2px solid var(--border-color);
}

.button_primary:hover {
    background-color: var(--primary-hover-bg-color);
}

.button_danger {
    background-color: var(--danger-bg-color);
    border: 2px solid var(--border-color);
}

.button_danger:hover {
    background-color: var(--danger-hover-bg-color);
}

.button_secondary {
    background-color: var(--secondary-bg-color);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
}

.button_secondary:hover {
    box-shadow: 1px 1px 6px 2px var(--secondary-hover-color);
}

.title {
    font-weight: 300;
    text-transform: uppercase;
}

.header__title, .container__title {
    margin: 0;
}

.container__title {
    margin-bottom: 1rem;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.toolbar {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.toolbar__hide-button {
    width: 100px;
}

.dropdown {
    position: relative;
    display: inline-flex;
}

.dropdown__content-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease 0s;
    --num-items: 4;
    --item-height: 2.5rem;
    --gap: 0.5rem;
    --border: 2px;
    --content-height: calc(
            var(--num-items) * var(--item-height) + 5 * var(--gap) +
            2 * var(--border)
    );
}

.dropdown__content {
    background-color: var(--bg-color);
    border: var(--border) solid var(--border-color);
    border-radius: 0.25rem;
    padding: var(--gap);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.dropdown__content .button {
    justify-content: flex-start;
}

.dropdown_open .dropdown__content-wrapper {
    height: var(--content-height);
}

.create-form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    overflow: hidden;
    transition: height 0.3s ease 0s;
}

.form-label {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.create-form__form-label,
.edit-form__form-label {
    margin-bottom: 1rem;
}

.create-form__add-button {
    flex-shrink: 0;
}

.equipment-filter {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    justify-content: center;
    align-items: center;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.no-entries {
    text-align: center;
    font-size: 1.1rem;
    font-weight: 300;
}

.card {
    display: flex;
    background-color: var(--card-bg-color);
    border-radius: 2rem;
    padding: 2rem;
    transition: box-shadow 0.3s ease 0s;
}

.card:hover {
    box-shadow: 3px 3px 2px 0 var(--secondary-hover-color);
}

.card__toolbar {
    flex-direction: column;
}

.card__card-title {
    margin: 0;
}

.card__link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    cursor: pointer;
}

.equipment-title_rented {
    color: var(--secondary-color);
}

.link {
    color: inherit;
    text-decoration: none;
}

.equipment__status {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.status__text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.theme-toggle {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.theme-toggle__button {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
    position: relative;
}

.theme-toggle__button svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease 0s;
}

.lucide {
    width: 1rem;
    height: 1rem;
    color: inherit;
}

.lucide_progress {
    color: var(--progress-color);
}

.lucid_done {
    color: var(--done-color);
}

.lucide-sun,
.lucide-moon {
    opacity: 1;
    transition: opacity 0.3s ease 0s;
    width: 2rem;
    height: 2rem;
}

.light .lucide-sun {
    opacity: 0;
}

.dark .lucide-moon {
    opacity: 0;
}

/* Form started */



/* Form ended */

/* Modal */

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_enter {
    animation: modal-open 0.3s ease 0s 1 normal forwards;
}

.modal_close {
    animation: modal-close 0.3s ease 0.3s 1 normal forwards;
}

.modal__content {
    background-color: var(--bg-color);
    border-radius: 0.25rem;
    padding: 1rem;
    width: 100%;
    max-width: 400px;
    opacity: 0;
}

.modal_enter .modal__content {
    animation: modal-content-open 0.3s ease 0.3s 1 normal forwards;
}

.modal_close .modal__content {
    animation: modal-content-close 0.3s ease 0s 1 normal forwards;
}

/* Modal end */

/* Modal animation start */

@keyframes modal-open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modal-close {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes modal-content-open {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes modal-content-close {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100px);
    }
}

/* Modal animation end */

@font-face {
    font-family: 'Comfortaa';
    src: url('/src/assets/fonts/Comfortaa/Comfortaa-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/src/assets/fonts/Comfortaa/Comfortaa-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/src/assets/fonts/Comfortaa/Comfortaa-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}