.card {
    display: flex;
    background-color: var(--card-bg-color);
    border-radius: 2rem;
    padding: 2rem;
    transition: box-shadow 0.3s ease 0s;
}

.card:hover {
    box-shadow: 3px 3px 2px 0 var(--secondary-hover-color);
}

.card_toolbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.card_card-title {
    margin: 0;
}

.card_link {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}

.card_header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    cursor: pointer;
}

.card_title {
    margin: 0;
}

.card_description {
    margin: 0;
}