.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.title {
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
}