.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.item_container {
    display: flex;
    flex-grow: 2;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1; /* соотношение сторон 1:1 */
    height: 2.3rem;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 100%;
    border: 1px solid var(--border-color);
}

.item_selected {
    background-color: var(--primary-bg-color);
}

.button-pagination {

}